# Compiled executable
/Number-Sequence-Function/bin/Debug/Numbers.exe

# Object files
/Number-Sequence-Function/obj/Debug/*.o

# IDE specific files
/Number-Sequence-Function/*.depend
/Number-Sequence-Function/*.layout
/Number-Sequence-Function/*.cbp
